<!--  -->
<div id="ip-container" class="ip-container">
    <!-- initial header -->
    <header class="ip-header">
        <div class="row center-xs" style="margin-top: 12%">
            <h1 class="ip-logo bigLogoFont">
                    Star City Hq
            </h1>
        </div>
        <div class="ip-loader">
            <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
                <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z" />
                <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z" />
            </svg>
        </div>
    </header>
    <!-- main content -->
    <div class="ip-main">
        <section class="main-bg">
            <div class="whiteBg">
                <div class="container">
                    <div class="row topBar middle-xs">
                        <div class="col-xs-6">
                            <div class="box col-xs-offset-3">
                                <div class="logo start-xs">
                                    <h1 > Star City Hq </h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 ">
                            <div class="box">
                                <div class="row center-xs">
                                    <div class="col-xs-12">
                                        <nav class="cl-effect-10">
                                            <a ui-sref="preLogin.signin.view" data-hover="Sign In"><span>Sign In</span></a>
                                            <a ui-sref="preLogin.signup.view" data-hover="Register"><span>Register</span></a>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-bg-img boxShadowUp">
                <div class="container">
                    <div class="row center-xs bottom-xs mainRowCont">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-8 center-xs">
                                    <div class="box middle-xs">
                                        <div class="bigWordCont">
                                            <h1 class="homeBannerText">
          STAR CITY HQ
        </h1>
                                            <p>
                                                A Social Network for Show Business Professionals
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="whiteBg">
                <div class="container">
                    <div class="row center-xs bottomBar middle-xs">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="box">
                                            <div class="row center-xs">
                                                <nav class="cl-effect-10">
                                                    <a ui-sref="index" class="linkColor-1" data-hover="Home"><span >Home</span></a>
                                                    <a ui-sref="about" data-hover="About"><span >About</span></a>
                                                    <a ui-sref="contact" data-hover="Contact"><span >Contact</span></a>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="box">
                                            <p class="copyright whit">
                                                Star City Hq &copy; All Rights Reserved
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- /container -->
<script src="styles/js/classie.js"></script>
<script src="styles/js/pathLoader.js"></script>
<script src="styles/js/main.js"></script>
