<div class="container">
    <div class="row topBar middle-xs">
        <div class="col-xs-6">
            <div class="box col-xs-offset-3">
                <div class="logo start-xs">
                    <h1> Star City Hq </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 ">
            <div class="box">
                <div class="row center-xs">
                    <div class="col-xs-12">
                        <nav class="cl-effect-10">
                            <a ui-sref="preLogin.signin.view" data-hover="Sign In"><span>Sign In</span></a>
                            <a ui-sref="preLogin.signup.view" data-hover="Register"><span>Register</span></a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div ui-view="PreLogin" class="animated fadeIn"></div>
</div>
<div class="whiteBg ">
    <div class="container">
        <div class="row center-xs middle-xs bottomBar">
            <div class="col-xs-12">
                <div class="box">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="row center-xs">
                                    <nav class="cl-effect-10">
                                        <a ui-sref="index" data-hover="Home"><span >Home</span></a>
                                        <a ui-sref="about" data-hover="About"><span >About</span></a>
                                        <a ui-sref="contact" data-hover="Contact"><span >Contact</span></a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="box">
                                <p class="copyright whit">
                                    Star City Hq &copy; All Rights Reserved
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
