<div class="form-group" ng-show="canUpload">
    <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4 col-xs-offset-4">
        <h3>Logo</h3>
        <img ng-src="../passports/{{image}}">
    </div>
</div>
<div class="form-group" ng-show="!canUpload">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 ">
        <input type="file" ngf-select ng-change="checkFile(starmaker.logo)" ng-model="starmaker.logo" name="passport" class="form-control" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="1MB" ngf-max-height="180" ngf-max-width="180" ngf-resize="{width: 100, height: 100}" />
    </div>
</div>
<div ng-hide="emailExists" class="form-group">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 ">
        <input type="text" class="form-control" ng-model="starmaker.username" placeholder="Username" required>
    </div>
</div>
<div ng-hide="emailExists" class="form-group">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 ">
        <input type="password" class="form-control" ng-model="starmaker.password" placeholder="Password" required>
    </div>
</div>
<div ng-hide="emailExists" class="form-group">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 ">
        <input type="password" class="form-control" ng-blur="check_password(starmaker.password,starmaker.confirm_password)" ng-model="starmaker.confirm_password" placeholder="Confirm Password" required>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 ">
        <input type="text" class="form-control" ng-model="starmaker.company_name" placeholder="Company Name">
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 ">
        <input type="text" class="form-control" ng-model="starmaker.address" placeholder="Address">
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 ">
        <input type="text" class="form-control" ng-model="starmaker.city" placeholder="city" required>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 ">
        <input type="text" class="form-control" ng-model="starmaker.state" placeholder="state" required>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 ">
        <select ng-model="starmaker.roles" multiple required>
            <option value="Producer">Producer</option>
            <option value="Record Label">Record Label</option>
        </select>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 ">
        <textarea ng-model="starmaker.bio" required></textarea>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-12">
        <button type="submit" ng-disabled="starMakerForm.$invalid" ng-click="starMakerSubmit()" class="btn btn-primary">Submit</button>
    </div>
</div>
