<div class="column">
    <div class="row center">
        <div class="col-xs-12">
            <div class="box">
                <form>
                    <h2 class="">
                Star Makers Login
            </h2>
                    <label>
                        <input type="email" required ng-model="star_register.email" />
                        <div class="label-text">E-mail</div>
                    </label>
                    <label>
                        <input type="password" ng-model="star_register.password" required />
                        <div class="label-text">Password</div>
                    </label>
                    <button type="submit" ng-click="formFields(star_register)">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
