

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row around-xs middle-xs">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <h1 class="start-xs">Auditions</h1>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                            <a ui-sref="dashboard.container.auditions.new">Add</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                  <div ui-view='auditions-container'></div>
                </div>
            </div>
        </div>
    </div>
</div>